In [9]:
# Code snippet below is from Catherine Magsino
import sqlite3
import pandas        as pd
import pandas.io.sql as pd_sql

# Connect to the sql table
conn   = sqlite3.connect("./dataset_soccer/database.sqlite")
cursor = conn.cursor()
    
#query = "SELECT * FROM ;"

In [10]:
# This tells you what tables are available in the SQL database file
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('sqlite_sequence',), ('Player_Attributes',), ('Player',), ('Match',), ('League',), ('Country',), ('Team',), ('Team_Attributes',)]

In [11]:
# Function to print out all table columns
def table_columns(db, table_name):
    curs = db.cursor()
    sql = "select * from %s where 1=0;" % table_name
    curs.execute(sql)
    return [d[0] for d in curs.description]

In [15]:
#table_columns(conn, 'Player_Attributes')

In [61]:
pd.read_sql_query('SELECT * FROM Match',conn)

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67
5,6,1,1,2008/2009,1,2008-09-24 00:00:00,492478,8203,8342,1,...,1.67,4.35,3.40,1.70,4.50,3.40,1.70,NaN,NaN,NaN
6,7,1,1,2008/2009,1,2008-08-16 00:00:00,492479,9999,8571,2,...,3.60,2.10,3.25,3.00,1.85,3.25,3.75,2.10,3.25,3.10
7,8,1,1,2008/2009,1,2008-08-16 00:00:00,492480,4049,9996,1,...,2.40,2.80,3.25,2.25,2.80,3.20,2.25,2.88,3.25,2.20
8,9,1,1,2008/2009,1,2008-08-16 00:00:00,492481,10001,9986,1,...,3.10,2.25,3.25,2.80,2.20,3.30,2.80,2.25,3.20,2.80
9,10,1,1,2008/2009,10,2008-11-01 00:00:00,492564,8342,8571,4,...,10.00,1.30,4.35,8.50,1.25,5.00,10.00,1.29,4.50,9.00
10,11,1,1,2008/2009,10,2008-10-31 00:00:00,492565,9985,9986,1,...,10.00,1.28,4.50,8.50,1.25,5.00,10.00,1.25,5.00,9.00
11,12,1,1,2008/2009,10,2008-11-02 00:00:00,492566,10000,9991,0,...,2.50,2.65,3.30,2.30,2.60,3.25,2.50,2.62,3.20,2.38
12,13,1,1,2008/2009,10,2008-11-01 00:00:00,492567,9994,9998,0,...,4.25,2.00,3.20,3.40,1.85,3.30,4.00,1.83,3.30,3.80
13,14,1,1,2008/2009,10,2008-11-01 00:00:00,492568,7947,10001,2,...,2.38,2.75,3.20,2.30,2.75,3.25,2.35,2.75,3.20,2.30
14,15,1,1,2008/2009,10,2008-11-01 00:00:00,492569,8203,9999,1,...,4.75,1.70,3.40,4.35,1.75,3.40,4.25,1.70,3.40,4.33
15,16,1,1,2008/2009,10,2008-11-01 00:00:00,492570,9996,9984,0,...,2.88,2.20,3.25,2.90,2.30,3.25,2.85,2.30,3.20,2.75
16,17,1,1,2008/2009,10,2008-11-01 00:00:00,492571,4049,9987,1,...,1.62,5.50,3.50,1.55,5.25,3.60,1.60,6.00,3.60,1.50
17,18,1,1,2008/2009,10,2008-11-02 00:00:00,492572,9993,8635,1,...,1.80,3.60,3.25,1.90,4.10,3.40,1.80,3.80,3.30,1.83
18,19,1,1,2008/2009,11,2008-11-08 00:00:00,492573,8635,9994,2,...,9.00,1.28,4.50,8.50,1.30,4.75,7.50,1.30,4.50,8.50
19,20,1,1,2008/2009,11,2008-11-08 00:00:00,492574,9998,9996,0,...,2.75,2.35,3.25,2.65,2.30,3.20,2.75,2.30,3.25,2.70
20,21,1,1,2008/2009,11,2008-11-09 00:00:00,492575,9986,8342,2,...,2.10,3.25,3.25,2.00,3.10,3.20,2.15,3.10,3.25,2.10
21,22,1,1,2008/2009,11,2008-11-07 00:00:00,492576,9984,10000,2,...,4.25,1.75,3.25,4.35,1.80,3.30,4.20,1.70,3.30,4.50
22,23,1,1,2008/2009,11,2008-11-08 00:00:00,492577,9991,7947,1,...,7.00,1.35,4.00,7.50,1.40,4.20,7.00,1.36,4.20,7.00
23,24,1,1,2008/2009,11,2008-11-08 00:00:00,492578,9999,4049,1,...,4.00,1.80,3.25,4.00,1.85,3.30,4.00,1.80,3.30,4.00
24,25,1,1,2008/2009,11,2008-11-08 00:00:00,492579,8571,8203,0,...,3.50,2.00,3.25,3.25,1.95,3.20,3.50,2.00,3.25,3.30
25,26,1,1,2008/2009,11,2008-11-08 00:00:00,492580,10001,9987,1,...,2.60,2.40,3.25,2.60,2.50,3.25,2.50,2.50,3.20,2.50
26,27,1,1,2008/2009,11,2008-11-09 00:00:00,492581,9993,9985,1,...,1.95,3.75,3.25,1.85,3.60,3.25,1.95,3.50,3.30,1.91
27,28,1,1,2008/2009,12,2008-11-16 00:00:00,492582,8342,8635,1,...,3.30,2.25,3.10,2.80,2.10,3.20,3.20,2.20,3.20,2.90
28,29,1,1,2008/2009,12,2008-11-15 00:00:00,492583,9987,9999,1,...,10.00,1.25,5.00,9.00,1.27,5.00,8.50,1.25,5.00,9.00
29,30,1,1,2008/2009,12,2008-11-15 00:00:00,492584,10000,9993,2,...,3.40,2.10,3.30,3.10,2.00,3.20,3.50,2.00,3.25,3.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25949,25950,24558,24558,2015/2016,4,2015-08-08 00:00:00,1992066,9956,7896,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25950,25951,24558,24558,2015/2016,4,2015-08-08 00:00:00,1992067,10199,9931,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25951,25952,24558,24558,2015/2016,4,2015-08-09 00:00:00,1992068,10190,10243,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25952,25953,24558,24558,2015/2016,4,2015-08-09 00:00:00,1992069,9824,10179,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25953,25954,24558,24558,2015/2016,4,2015-08-09 00:00:00,1992070,10192,10191,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25954,25955,24558,24558,2015/2016,5,2015-08-12 00:00:00,1992071,9931,10191,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25955,25956,24558,24558,2015/2016,5,2015-08-12 00:00:00,1992072,10192,7896,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25956,25957,24558,24558,2015/2016,5,2015-08-12 00:00:00,1992073,10199,10190,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25957,25958,24558,24558,2015/2016,5,2015-08-13 00:00:00,1992074,10179,10243,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25958,25959,24558,24558,2015/2016,5,2015-08-13 00:00:00,1992075,9824,9956,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25959,25960,24558,24558,2015/2016,6,2015-08-22 00:00:00,1992076,7896,9931,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25960,25961,24558,24558,2015/2016,6,2015-08-23 00:00:00,1992077,10179,10192,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25961,25962,24558,24558,2015/2016,6,2015-08-23 00:00:00,1992078,10190,9956,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25962,25963,24558,24558,2015/2016,6,2015-08-23 00:00:00,1992079,10191,9824,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25963,25964,24558,24558,2015/2016,6,2015-08-22 00:00:00,1992080,10243,10199,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25964,25965,24558,24558,2015/2016,7,2015-08-29 00:00:00,1992081,7896,10199,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25965,25966,24558,24558,2015/2016,7,2015-08-29 00:00:00,1992082,9824,10190,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25966,25967,24558,24558,2015/2016,7,2015-08-30 00:00:00,1992083,10191,10179,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25967,25968,24558,24558,2015/2016,7,2015-08-30 00:00:00,1992084,9931,10243,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25968,25969,24558,24558,2015/2016,7,2015-08-30 00:00:00,1992085,9956,10192,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25969,25970,24558,24558,2015/2016,8,2015-09-12 00:00:00,1992086,9931,10190,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25970,25971,24558,24558,2015/2016,8,2015-09-12 00:00:00,1992087,10192,9824,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25971,25972,24558,24558,2015/2016,8,2015-09-13 00:00:00,1992088,10199,9956,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25972,25973,24558,24558,2015/2016,8,2015-09-13 00:00:00,1992089,10243,10191,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25973,25974,24558,24558,2015/2016,8,2015-09-13 00:00:00,1992090,10179,7896,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25974,25975,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992091,10190,10191,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25975,25976,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992092,9824,10199,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25976,25977,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992093,9956,10179,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25977,25978,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992094,7896,10243,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25978,25979,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992095,10192,9931,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
table_columns(conn, 'Match')

['id',
 'country_id',
 'league_id',
 'season',
 'stage',
 'date',
 'match_api_id',
 'home_team_api_id',
 'away_team_api_id',
 'home_team_goal',
 'away_team_goal',
 'home_player_X1',
 'home_player_X2',
 'home_player_X3',
 'home_player_X4',
 'home_player_X5',
 'home_player_X6',
 'home_player_X7',
 'home_player_X8',
 'home_player_X9',
 'home_player_X10',
 'home_player_X11',
 'away_player_X1',
 'away_player_X2',
 'away_player_X3',
 'away_player_X4',
 'away_player_X5',
 'away_player_X6',
 'away_player_X7',
 'away_player_X8',
 'away_player_X9',
 'away_player_X10',
 'away_player_X11',
 'home_player_Y1',
 'home_player_Y2',
 'home_player_Y3',
 'home_player_Y4',
 'home_player_Y5',
 'home_player_Y6',
 'home_player_Y7',
 'home_player_Y8',
 'home_player_Y9',
 'home_player_Y10',
 'home_player_Y11',
 'away_player_Y1',
 'away_player_Y2',
 'away_player_Y3',
 'away_player_Y4',
 'away_player_Y5',
 'away_player_Y6',
 'away_player_Y7',
 'away_player_Y8',
 'away_player_Y9',
 'away_player_Y10',
 'away_player_Y11',
 'home_player_1',
 'home_player_2',
 'home_player_3',
 'home_player_4',
 'home_player_5',
 'home_player_6',
 'home_player_7',
 'home_player_8',
 'home_player_9',
 'home_player_10',
 'home_player_11',
 'away_player_1',
 'away_player_2',
 'away_player_3',
 'away_player_4',
 'away_player_5',
 'away_player_6',
 'away_player_7',
 'away_player_8',
 'away_player_9',
 'away_player_10',
 'away_player_11',
 'goal',
 'shoton',
 'shotoff',
 'foulcommit',
 'card',
 'cross',
 'corner',
 'possession',
 'B365H',
 'B365D',
 'B365A',
 'BWH',
 'BWD',
 'BWA',
 'IWH',
 'IWD',
 'IWA',
 'LBH',
 'LBD',
 'LBA',
 'PSH',
 'PSD',
 'PSA',
 'WHH',
 'WHD',
 'WHA',
 'SJH',
 'SJD',
 'SJA',
 'VCH',
 'VCD',
 'VCA',
 'GBH',
 'GBD',
 'GBA',
 'BSH',
 'BSD',
 'BSA']

In [52]:
table_columns(conn, 'Team_Attributes')

['id',
 'team_fifa_api_id',
 'team_api_id',
 'date',
 'buildUpPlaySpeed',
 'buildUpPlaySpeedClass',
 'buildUpPlayDribbling',
 'buildUpPlayDribblingClass',
 'buildUpPlayPassing',
 'buildUpPlayPassingClass',
 'buildUpPlayPositioningClass',
 'chanceCreationPassing',
 'chanceCreationPassingClass',
 'chanceCreationCrossing',
 'chanceCreationCrossingClass',
 'chanceCreationShooting',
 'chanceCreationShootingClass',
 'chanceCreationPositioningClass',
 'defencePressure',
 'defencePressureClass',
 'defenceAggression',
 'defenceAggressionClass',
 'defenceTeamWidth',
 'defenceTeamWidthClass',
 'defenceDefenderLineClass']

In [22]:
pd.read_sql_query('SELECT * FROM Team LIMIT 5',conn)

   id  team_api_id  team_fifa_api_id     team_long_name team_short_name
0   1         9987               673           KRC Genk             GEN
1   2         9993               675       Beerschot AC             BAC
2   3        10000             15005   SV Zulte-Waregem             ZUL
3   4         9994              2007   Sporting Lokeren             LOK
4   5         9984              1750  KSV Cercle Brugge             CEB

In [20]:
pd.read_sql_query('SELECT * FROM League',conn)

       id  country_id                      name
0       1           1    Belgium Jupiler League
1    1729        1729    England Premier League
2    4769        4769            France Ligue 1
3    7809        7809     Germany 1. Bundesliga
4   10257       10257             Italy Serie A
5   13274       13274    Netherlands Eredivisie
6   15722       15722        Poland Ekstraklasa
7   17642       17642  Portugal Liga ZON Sagres
8   19694       19694   Scotland Premier League
9   21518       21518           Spain LIGA BBVA
10  24558       24558  Switzerland Super League

### Q1: Which team scored the most points when playing at home?

In [50]:
# Attempt Question 1 here
#Which team scored the most points when playing at home?

sql_text_query = '''
SELECT Team.team_long_name, SUM(Match.home_team_goal)
FROM [Team] 
JOIN [Match] ON Team.team_api_id=Match.home_team_api_id
GROUP BY Team.team_long_name
ORDER BY SUM(Match.home_team_goal) DESC LIMIT 5;
'''

pd.read_sql_query(sql_text_query,conn)

#'SELECT Team.team_long_name, \ 
#Match.home_team_goal FROM Team JOIN Match ON Team.id=Match.id;'

     team_long_name  SUM(Match.home_team_goal)
0    Real Madrid CF                        505
1      FC Barcelona                        495
2            Celtic                        389
3  FC Bayern Munich                        382
4               PSV                        370

Real Madrid CF with 505 home goals

### Q2: Did this team also score the most points when playing away?

In [51]:
# Question 2
sql_text_query = '''
SELECT Team.team_long_name, SUM(Match.away_team_goal)
FROM [Team] 
JOIN [Match] ON Team.team_api_id=Match.away_team_api_id
GROUP BY Team.team_long_name
ORDER BY SUM(Match.away_team_goal) DESC LIMIT 5;
'''

pd.read_sql_query(sql_text_query,conn)

   team_long_name  SUM(Match.away_team_goal)
0    FC Barcelona                        354
1  Real Madrid CF                        338
2          Celtic                        306
3            Ajax                        287
4             PSV                        282

No, FC Barcelona scored the most away goals with 354 goals

### Q3: How many matches resulted in a tie?

In [56]:
pd.read_sql_query('SELECT match_api_id, home_team_api_id,away_team_api_id, home_team_goal, away_team_goal FROM Match LIMIT 5',conn)

,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal
0,492473,9987,9993,1,1
1,492474,10000,9994,0,0
2,492475,9984,8635,0,3
3,492476,9991,9998,5,0
4,492477,7947,9985,1,3

In [104]:
sql_text_query = '''
SELECT COUNT(home_team_goal=away_team_goal) AS X
FROM [Match]
WHERE home_team_goal=away_team_goal

'''

pd.read_sql_query(sql_text_query,conn)

      X
0  6596

### Q4: How many players have Smith for their last name? How many have 'smith' anywhere in their name?

In [70]:
sql_text_query = '''
SELECT id, COUNT(player_name)
FROM [Player]
WHERE player_name LIKE '% Smith'

'''
#WHERE home_team_goal=away_team_goal


pd.read_sql_query(sql_text_query,conn)

    id  COUNT(player_name)
0  129                  15

In [73]:
sql_text_query = '''
SELECT id, COUNT(player_name)
FROM [Player]
WHERE player_name LIKE '%Smith%'

'''
pd.read_sql_query(sql_text_query,conn)

    id  COUNT(player_name)
0  129                  18

### Q5: What was the median tie score? Use the value determined in the previous question for the number of tie games. Hint: PostgreSQL does not have a median function. Instead, think about the steps required to calculate a median and use the WITH command to store stepwise results as a table and then operate on these results.

In [137]:
sql_text_query = '''
CREATE TABLE [NewTable3] AS SELECT match_api_id, home_team_goal=away_team_goal AS Tie
FROM [Match] WHERE home_team_goal=away_team_goal;

'''

pd.read_sql_query(sql_text_query,conn)

TypeError: 'NoneType' object is not iterable

In [139]:
# From Stackoverflow --- https://stackoverflow.com/questions/15763965/how-can-i-calculate-the-median-of-values-in-sqlite

#SELECT AVG(x)
#FROM (SELECT x
#      FROM MyTable
#      ORDER BY x
#      LIMIT 2
#      OFFSET (SELECT (COUNT(*) - 1) / 2
#              FROM MyTable))


sql_text_query = '''

SELECT ROUND(AVG(home_team_goal), 2) AS median_item_count  
FROM (  SELECT home_team_goal
        FROM ( SELECT home_team_goal,
           COUNT(*) OVER() AS row_count,
           ROW_NUMBER() OVER(ORDER BY home_team_goal=away_team_goal) AS row_number
    FROM [Match]
    WHERE home_team_goal=away_team_goal <> 0
  ) x
WHERE row_number IN ((row_count + 1)/2, (row_count + 2)/2)  
) y
;
'''
pd.read_sql_query(sql_text_query,conn)

#OFFSET (SELECT (COUNT(*) - 1) / 2 FROM [Match])

   median_item_count
0                1.0

### Q6: What percentage of players prefer their left or right foot? Hint: Calculate either the right or left foot, whichever is easier based on how you setup the problem.

In [93]:
sql_text_query = '''
SELECT *
FROM [Player_Attributes]


'''
pd.read_sql_query(sql_text_query,conn)

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
5,6,189615,155782,2016-04-21 00:00:00,74.0,76.0,left,high,medium,80.0,...,66.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
6,7,189615,155782,2016-04-07 00:00:00,74.0,76.0,left,high,medium,80.0,...,66.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
7,8,189615,155782,2016-01-07 00:00:00,73.0,75.0,left,high,medium,79.0,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
8,9,189615,155782,2015-12-24 00:00:00,73.0,75.0,left,high,medium,79.0,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
9,10,189615,155782,2015-12-17 00:00:00,73.0,75.0,left,high,medium,79.0,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
10,11,189615,155782,2015-10-16 00:00:00,73.0,77.0,left,high,medium,79.0,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
11,12,189615,155782,2015-09-25 00:00:00,74.0,78.0,left,high,medium,79.0,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
12,13,189615,155782,2015-09-21 00:00:00,73.0,77.0,left,medium,medium,79.0,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
13,14,189615,155782,2015-01-09 00:00:00,71.0,75.0,left,medium,medium,78.0,...,64.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
14,15,189615,155782,2014-12-05 00:00:00,71.0,77.0,left,medium,medium,78.0,...,64.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
15,16,189615,155782,2014-11-07 00:00:00,71.0,77.0,left,medium,medium,78.0,...,64.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
16,17,189615,155782,2014-09-18 00:00:00,70.0,77.0,left,medium,medium,77.0,...,64.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
17,18,189615,155782,2014-05-02 00:00:00,70.0,79.0,left,medium,medium,77.0,...,64.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
18,19,189615,155782,2014-04-04 00:00:00,70.0,79.0,left,medium,medium,77.0,...,64.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
19,20,189615,155782,2014-03-14 00:00:00,70.0,79.0,left,medium,medium,77.0,...,61.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
20,21,189615,155782,2013-12-13 00:00:00,70.0,79.0,left,medium,medium,77.0,...,61.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
21,22,189615,155782,2013-11-08 00:00:00,70.0,79.0,left,medium,medium,77.0,...,61.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
22,23,189615,155782,2013-10-04 00:00:00,69.0,79.0,left,medium,medium,77.0,...,58.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
23,24,189615,155782,2013-09-20 00:00:00,69.0,79.0,left,medium,medium,77.0,...,58.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
24,25,189615,155782,2013-05-03 00:00:00,69.0,80.0,left,medium,medium,77.0,...,58.0,58.0,72.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
25,26,189615,155782,2013-03-22 00:00:00,69.0,80.0,left,medium,medium,77.0,...,58.0,58.0,72.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
26,27,189615,155782,2013-03-15 00:00:00,69.0,80.0,left,medium,medium,77.0,...,58.0,58.0,72.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
27,28,189615,155782,2013-02-22 00:00:00,69.0,80.0,left,medium,medium,77.0,...,58.0,58.0,72.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
28,29,189615,155782,2013-02-15 00:00:00,69.0,80.0,left,medium,medium,77.0,...,58.0,58.0,72.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
29,30,189615,155782,2012-08-31 00:00:00,68.0,80.0,left,medium,medium,77.0,...,63.0,58.0,72.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183948,183949,164680,111182,2012-02-22 00:00:00,68.0,76.0,left,medium,medium,73.0,...,45.0,53.0,64.0,68.0,66.0,9.0,8.0,5.0,5.0,8.0
183949,183950,164680,111182,2011-08-30 00:00:00,68.0,76.0,left,medium,medium,73.0,...,45.0,53.0,64.0,68.0,66.0,9.0,8.0,5.0,5.0,8.0
183950,183951,164680,111182,2011-02-22 00:00:00,68.0,79.0,left,medium,medium,71.0,...,65.0,53.0,71.0,69.0,69.0,9.0,8.0,5.0,5.0,8.0
183951,183952,164680,111182,2010-08-30 00:00:00,67.0,77.0,left,medium,medium,68.0,...,65.0,44.0,75.0,70.0,67.0,9.0,8.0,5.0,5.0,8.0
183952,183953,164680,111182,2007-02-22 00:00:00,67.0,77.0,left,medium,medium,68.0,...,65.0,44.0,75.0,70.0,67.0,9.0,8.0,5.0,5.0,8.0
183953,183954,111191,36491,2011-02-22 00:00:00,68.0,73.0,left,None,_0,64.0,...,66.0,61.0,67.0,71.0,59.0,15.0,13.0,5.0,6.0,6.0
183954,183955,111191,36491,2010-08-30 00:00:00,68.0,73.0,left,None,_0,64.0,...,66.0,61.0,71.0,71.0,59.0,15.0,13.0,5.0,6.0,6.0
183955,183956,111191,36491,2009-08-30 00:00:00,68.0,74.0,left,None,_0,64.0,...,66.0,61.0,71.0,71.0,59.0,4.0,21.0,61.0,21.0,21.0
183956,183957,111191,36491,2009-02-22 00:00:00,68.0,74.0,left,None,_0,64.0,...,66.0,61.0,71.0,71.0,59.0,4.0,21.0,61.0,21.0,21.0
183957,183958,111191,36491,2008-08-30 00:00:00,67.0,72.0,left,None,_0,62.0,...,66.0,61.0,61.0,62.0,59.0,4.0,21.0,61.0,21.0,21.0
183958,183959,111191,36491,2007-08-30 00:00:00,67.0,72.0,left,None,_0,62.0,...,66.0,61.0,43.0,52.0,59.0,4.0,21.0,52.0,21.0,21.0
183959,183960,111191,36491,2007-02-22 00:00:00,67.0,72.0,left,None,_0,62.0,...,66.0,61.0,43.0,52.0,59.0,4.0,21.0,52.0,21.0,21.0
183960,183961,47058,35506,2011-02-22 00:00:00,67.0,78.0,right,None,_0,48.0,...,63.0,45.0,65.0,66.0,65.0,14.0,7.0,15.0,10.0,12.0
183961,183962,47058,35506,2010-08-30 00:00:00,67.0,78.0,right,None,_0,48.0,...,63.0,45.0,65.0,66.0,65.0,14.0,7.0,15.0,10.0,12.0
183962,183963,47058,35506,2010-02-22 00:00:00,67.0,78.0,right,None,_0,48.0,...,63.0,70.0,65.0,66.0,65.0,14.0,25.0,51.0,25.0,25.0
183963,183964,47058,35506,2009-08-30 00:00:00,70.0,78.0,right,None,_0,48.0,...,63.0,70.0,70.0,74.0,65.0,14.0,25.0,51.0,25.0,25.0
183964,183965,47058,35506,2009-02-22 00:00:00,70.0,78.0,right,None,_0,48.0,...,63.0,70.0,70.0,74.0,65.0,14.0,25.0,51.0,25.0,25.0
183965,183966,47058,35506,2008-08-30 00:00:00,72.0,78.0,right,None,_0,48.0,...,63.0,70.0,76.0,78.0,65.0,14.0,25.0,51.0,25.0,25.0
183966,183967,47058,35506,2007-08-30 00:00:00,75.0,78.0,right,None,_0,48.0,...,63.0,70.0,76.0,78.0,65.0,14.0,25.0,51.0,25.0,25.0
183967,183968,47058,35506,2007-02-22 00:00:00,78.0,79.0,right,None,_0,38.0,...,63.0,72.0,79.0,84.0,65.0,14.0,9.0,48.0,7.0,11.0
183968,183969,102359,39902,2012-08-31 00:00:00,78.0,78.0,right,medium,low,77.0,...,82.0,78.0,22.0,31.0,30.0,9.0,13.0,8.0,15.0,5.0
183969,183970,102359,39902,2012-02-22 00:00:00,81.0,81.0,right,medium,low,80.0,...,87.0,78.0,22.0,31.0,30.0,9.0,13.0,8.0,15.0,5.0
183970,183971,102359,39902,2011-08-30 00:00:00,81.0,81.0,right,medium,low,80.0,...,87.0,78.0,22.0,31.0,30.0,9.0,13.0,8.0,15.0,5.0
183971,183972,102359,39902,2011-02-22 00:00:00,81.0,85.0,right,medium,low,81.0,...,87.0,73.0,22.0,31.0,30.0,9.0,13.0,8.0,15.0,5.0
183972,183973,102359,39902,2010-08-30 00:00:00,83.0,85.0,right,medium,low,84.0,...,88.0,73.0,22.0,31.0,30.0,9.0,13.0,8.0,15.0,5.0
183973,183974,102359,39902,2009-08-30 00:00:00,83.0,85.0,right,medium,low,84.0,...,88.0,83.0,22.0,31.0,30.0,9.0,20.0,84.0,20.0,20.0
183974,183975,102359,39902,2009-02-22 00:00:00,78.0,80.0,right,medium,low,74.0,...,88.0,70.0,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0
183975,183976,102359,39902,2008-08-30 00:00:00,77.0,80.0,right,medium,low,74.0,...,88.0,70.0,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0
183976,183977,102359,39902,2007-08-30 00:00:00,78.0,81.0,right,medium,low,74.0,...,88.0,53.0,28.0,32.0,30.0,9.0,20.0,73.0,20.0,20.0
183977,183978,102359,39902,2007-02-22 00:00:00,80.0,81.0,right,medium,low,74.0,...,88.0,53.0,38.0,32.0,30.0,9.0,9.0,78.0,7.0,15.0

In [140]:
sql_text_query = '''
SELECT preferred_foot, (Count(preferred_foot)*100 / (Select Count(*) From [Player_Attributes]))
FROM [Player_Attributes]
WHERE preferred_foot='right';
'''
pd.read_sql_query(sql_text_query,conn)

#Select Grade, (Count(Grade)* 100 / (Select Count(*) From MyTable)) as Score
#From MyTable
#Group By Grade

  preferred_foot  (Count(preferred_foot)*100 / (Select Count(*) From
0          right                                                 75